// 颜色定义规范

//定义全局的scss的变量值
$color-background: #44294b;
$color-background-d: RGB(122, 96, 135, 0.5);

$color-highlight-background: #6d5b77;
$color-dialog-background: #666;
$color-theme: #f0d0e0;
$color-theme-d: RGB(240, 208, 224, 0.4);
$color-sub-theme: #c39cb7;
$color-text: #fff;
$color-text-d: rgba(255, 255, 255, 0.2);
$color-text-l: rgba(255, 255, 255, 0.5);
$color-text-ll: rgba(255, 255, 255, 0.8);

// $color:#957FAD;
// $color:#7A6087;
// $color:#C39CB7;
// $color:#967C9F;
// $color:#F0D0E0;

// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
